<div class="content">
    <p style="margin-bottom: 20px">Thanks for the application.You will receive notifications about new positions
        that match your skills. Below you can find already available positions:
    </p>
    <div class="application__card">
        <div class="application__card-header">
            <h2>Node JS Developer</h2>
            <span>Company Name</span>
        </div>
        <div class="application__card-subheader">
            <p><span>Level:</span> middle</p>
            <p><span>Japanese requirement:</span> not required</p>
        </div>
        <div class="application__card-description">
            <p><span>Description:</span> Experienced Back-End developer (node.js) to join our distributed remote
                team. We are developing a FinTech solution for Germany's banks and insurance sector.</p>
        </div>
    </div>
</div>
