<header style="
background-color: #5662F6;
            min-height: 35px;
            padding: 20px 40px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 30px;
            border-radius: 0 0 10px 10px;
">
    <span>DevJob</span>
</header>
