extends container

block content
    p Thanks for the application. Below you can see recommendation based on your skills.
    for position in positions
      div(class='position')
        span Category: #{position.category}
          hr
          span Level: #{position.level}
          hr
          span Description: #{position.description}
          hr
          span Japanese requirement: #{position.japaneseRequired ? 'required' : 'not required'}
