extends container

block content
    p We have a new list of position for you based on your latest update
    for position in positions
        div(class='position')
            span Category: #{position.category}
                hr
                span Level: #{position.level}
                hr
                span Description: #{position.description}
                hr
                span Japanese requirement: #{position.japaneseRequired ? 'required' : 'not required'}

