doctype html
html
    head
        style
            include style.css
    body
        header
        p Hi
        div(class='content')
            block content
        footer
            | Best regards
            br
