body {
    background: #1A1A1C;
    color: #FEFEFE;
    width: 65%;
    font-size: 25px;
}

header {
    height: 50px;
    background: #C3083F;
    padding: 10px 20px;
}

p {
    padding: 0 20px;
}

span {
    font-weight: bold;
}

footer {
    background: #C3083F;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
}

.content {
    padding: 0 20px;
}

.position {
    border: 2px solid white;
    margin: 20px 0;
    padding: 10px;
}
